* {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

.main-area .swiper-box #main-swiper .swiper-wrapper .color {
  color: #fff;
}
.main-area .swiper-box #main-swiper .swiper-wrapper .swiper-slide a {
  position: relative;
}
.main-area .swiper-box #main-swiper .swiper-wrapper .swiper-slide a img {
  display: block;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
  vertical-align: top;
}
.main-area .swiper-box #main-swiper .swiper-wrapper .swiper-slide a .slide-items-txt {
  position: absolute;
  bottom: 150px;
  left: 0;
}
.main-area .swiper-box #main-swiper .swiper-wrapper .swiper-slide a .slide-items-txt .slide-txt01 {
  font-size: 24px;
  font-weight: 300;
}
.main-area .swiper-box #main-swiper .swiper-wrapper .swiper-slide a .slide-items-txt .slide-txt02 {
  font-size: 58px;
  margin-top: 15px;
  font-weight: bold;
}
.main-area .swiper-box #main-swiper .swiper-wrapper .swiper-slide a .slide-items-txt .slide-txt03 {
  font-size: 18px;
  margin-top: 25px;
  font-weight: 300;
}
.main-area .item-area {
  background-color: #f6ece3;
}
.main-area .item-area .item-box01 {
  display: flex;
  justify-content: center;
}
.main-area .item-area .item-box01 .item-imgs {
  display: flex;
  flex-wrap: wrap;
}
.main-area .item-area .item-box01 .item-imgs .model-01.models .plus::before {
  top: 29%;
  left: 48%;
}
.main-area .item-area .item-box01 .item-imgs .model-02 {
  margin-top: 12%;
}
.main-area .item-area .item-box01 .item-imgs .model-02.models .plus::before {
  top: 16%;
  left: 28%;
}
.main-area .item-area .item-box01 .item-imgs .model-02.models .plus02::after {
  top: 75%;
  left: 65%;
}
.main-area .item-area .item-box02 {
  position: relative;
}
.main-area .item-area .item-box02 .model-03 {
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translateX(-50%);
}
.main-area .item-area .item-box02 .model-03.models .plus::before {
  top: 33%;
  left: 47%;
}
.main-area .item-area .item-box02 .item-img03 {
  position: relative;
}
.main-area .item-area .item-box02 .item-img03.item-inner {
  padding: 0 0 92px 0;
}
.main-area .item-area .item-box02 .item-img03 .item-img03--txt {
  width: 67%;
  font-size: 150px;
  font-weight: 700;
  color: #d80d13;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}
.main-area .item-area .item-box02 .bg-item01 img {
  width: 1920px;
  padding-top: 95px;
  margin-left: 50%;
  transform: translateX(-50%);
  vertical-align: top;
}
.main-area .item-area .item-box02 .model-04 {
  margin-top: 8%;
  text-align: center;
}
.main-area .item-area .item-box02 .model-04 a:nth-child(1) {
  margin-right: 23px;
}
.main-area .item-area .item-box02 .model-04 a img {
  overflow: hidden;
  vertical-align: top;
}
.main-area .item-area .item-box02 .model-04 .models:first-child .plus::before {
  top: 340px;
  left: 55%;
}
.main-area .item-area .item-box02 .model-04 .models:last-child .plus::before {
  top: 190px;
  left: 27%;
}
.main-area .item-area .item-box03 .model-01.models .plus::before {
  top: 72% !important;
  left: 68% !important;
}
.main-area .item-area .item-box03 .model-02.models .plus::before {
  top: 38% !important;
  left: 68% !important;
}
.main-area .item-area .item-box04 {
  padding-bottom: 92px;
}
.main-area .item-area .item-box04 .item-img03 .item-img03--txt {
  width: 35%;
  color: #b8815a;
}
.main-area .item-area .item-box04 .model-04 .models:first-child .plus::before {
  top: 220px !important;
  left: 28% !important;
}
.main-area .item-area .item-box04 .model-04 .models:last-child .plus::before {
  top: 240px !important;
  left: 12% !important;
}
.main-area .item-area .item-box04 .model-04 .models:last-child .plus02::after {
  top: 180px !important;
  left: 80% !important;
}
.main-area .item-area .item-box05 {
  display: flex;
  justify-content: center;
}
.main-area .item-area .item-box05 > div {
  display: flex;
}
.main-area .item-area .item-box05 > div .models:first-child .plus::before {
  top: 29%;
  left: 43%;
}
.main-area .item-area .item-box05 > div .models:last-child .plus::before {
  top: 35%;
  left: 46%;
}
.main-area .item-area .item-box05 a:nth-child(2) {
  margin-top: 12%;
}
.main-area .item-area .btn-box {
  font-size: 22px;
  color: #d2b194;
  display: flex;
  justify-content: right;
  padding-bottom: 162px;
}
.main-area .item-area .btn-box a {
  margin-right: 50px;
}
.main-area .item-area .btn-box a span {
  position: relative;
}
.main-area .item-area .btn-box a span::before {
  content: "";
  display: block;
  width: 18px;
  height: 15px;
  background-image: url(/images/item/arr-rlgth.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: -30%;
  transform: translateY(-50%);
}
.main-area .live-area {
  position: relative;
  width: 100%;
  height: 610px;
  padding: 152px 0;
}
.main-area .live-area #live-swiper {
  width: 17000px;
  height: 100%;
  transform: translateX(4%);
}
.main-area .live-area .swiper-slide {
  width: 820px;
  height: 510px;
}
.main-area .live-area .swiper-slide a {
  display: inline-block;
}
.main-area .live-area .swiper-slide a::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-image: url(/images/main-Slider-img/ico_play.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translateY(-50%);
}
.main-area .live-area .swiper-slide a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}
.main-area .live-area .live-title {
  position: absolute;
  top: 37%;
  left: 12.5%;
  z-index: 2;
}
.main-area .hotTop-area .hotTop-txt {
  text-align: center;
  margin-bottom: 60px;
}
.main-area .hotTop-area .swiper-slide {
  width: 325px;
  height: 700px;
  position: relative;
}
.main-area .hotTop-area .swiper-slide a::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-image: url(/images/hottop/btn_tiktok.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translateY(-50%);
}
.main-area .hotTop-area .swiper-slide a img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  border-radius: 10px;
}
.main-area .notice-area {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #f2f2f2;
  color: #000;
}
.main-area .notice-area .notice-swiper {
  height: 15px;
}
.main-area .notice-area .notice-swiper .notice-title h2 {
  font-size: 14px;
  color: #666;
}
.main-area .notice-area .notice-swiper #notice-swiper {
  margin-left: 20px;
  height: 30px;
}
.main-area .notice-area .notice-swiper #notice-swiper .swiper-wrapper {
  width: 350px;
}
.main-area .notice-area .notice-swiper #notice-swiper .swiper-wrapper .swiper-slide {
  font-weight: 300;
}
.main-area .notice-area .notice-txt p {
  font-size: 13px;
}

.footer-area {
  background-color: #000;
  color: #fff;
}
.footer-area .footer-first-box {
  height: 210px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-area .footer-first-box .first-box-01 {
  display: flex;
  justify-content: right;
}
.footer-area .footer-first-box .first-box-01 ul:first-child li {
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 12px;
}
.footer-area .footer-first-box .first-box-01 ul:last-child {
  margin-left: 150px;
}
.footer-area .footer-first-box .first-box-01 ul:last-child li:nth-child(1) {
  font-size: 16px;
}
.footer-area .footer-first-box .first-box-01 ul:last-child li:nth-child(2) {
  font-size: 27px;
  padding-top: 33px;
  padding-right: 32px;
  position: relative;
}
.footer-area .footer-first-box .first-box-01 ul:last-child li:nth-child(2) a::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background-image: url(/images/footer/ico_feel.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
}
.footer-area .footer-first-box .first-box-01 ul:last-child li:nth-child(3) {
  font-size: 14px;
  line-height: 1.6;
  padding-top: 10px;
  color: #9f9f9f;
}
.footer-area .footer-first-box .first-box-02 {
  display: flex;
  justify-content: left;
}
.footer-area .footer-first-box .first-box-02 .CS {
  margin-left: 110px;
}
.footer-area .footer-first-box .first-box-02 .CS li:nth-child(1) {
  font-size: 16px;
}
.footer-area .footer-first-box .first-box-02 .CS li:nth-child(2) {
  font-size: 27px;
  padding-top: 33px;
  position: relative;
}
.footer-area .footer-first-box .first-box-02 .CS li:nth-child(3) {
  font-size: 14px;
  line-height: 1.6;
  padding-top: 10px;
  color: #9f9f9f;
}
.footer-area .footer-first-box .first-box-02 .icons {
  margin-left: 130px;
}
.footer-area .footer-first-box .first-box-02 .icons li ul {
  display: flex;
  justify-content: right;
  align-items: center;
}
.footer-area .footer-first-box .first-box-02 .icons li ul li {
  margin-left: 13px;
}
.footer-area .footer-first-box .first-box-02 .icons li .login {
  margin-top: 32px;
}
.footer-area .footer-first-box article {
  width: 50%;
}
.footer-area .footer-last-box {
  transform: translateX(12.5%);
  color: #9f9f9f;
}
.footer-area .footer-last-box.footer-inner {
  padding: 40px 0;
}
.footer-area .footer-last-box ul {
  display: flex;
  margin-bottom: 20px;
}
.footer-area .footer-last-box ul li {
  margin-right: 20px;
  font-size: 12px;
}
.footer-area .footer-last-box ul li:nth-child(2) {
  font-weight: bolder;
  color: #fff;
}
.footer-area .footer-last-box p {
  font-size: 11px;
  line-height: 2;
}
.footer-area .footer-last-box p span {
  padding-right: 20px;
}
.footer-area .footer-last-box p a {
  font-weight: bolder;
  color: #fff;
}
.footer-area .footer-last-box p b {
  letter-spacing: 2px;
}
.footer-area .footer-last-box p:last-child {
  margin-top: 30px;
  font-size: 13px;
  letter-spacing: 2px;
}