* {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

.main-area .swiper-box #main-swiper .swiper-wrapper .swiper-slide a {
  position: relative;
}
.main-area .swiper-box #main-swiper .swiper-wrapper .swiper-slide a img {
  display: block;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
  vertical-align: top;
}
.main-area .swiper-box #main-swiper .swiper-wrapper .swiper-slide a .slide-items-txt {
  position: absolute;
  bottom: 150px;
  left: 0;
}
.main-area .swiper-box #main-swiper .swiper-wrapper .swiper-slide a .slide-items-txt .slide-txt01 {
  font-size: 24px;
  font-weight: 300;
}
.main-area .swiper-box #main-swiper .swiper-wrapper .swiper-slide a .slide-items-txt .slide-txt02 {
  font-size: 58px;
  margin-top: 15px;
  font-weight: bold;
}
.main-area .swiper-box #main-swiper .swiper-wrapper .swiper-slide a .slide-items-txt .slide-txt03 {
  font-size: 18px;
  margin-top: 25px;
  font-weight: 300;
}
.main-area .item-area {
  background-color: #f6ece3;
}
.main-area .item-area .item-box01 {
  display: flex;
  justify-content: center;
}
.main-area .item-area .item-box01 .item-imgs {
  display: flex;
  flex-wrap: wrap;
}
.main-area .item-area .item-box01 .item-imgs .model-02 {
  margin-top: 12%;
}
.main-area .item-area .item-box02 {
  position: relative;
}
.main-area .item-area .item-box02 .model-03 {
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translateX(-50%);
}
.main-area .item-area .item-box02 .item-img03 {
  position: relative;
}
.main-area .item-area .item-box02 .item-img03.item-inner {
  padding: 0 0 92px 0;
}
.main-area .item-area .item-box02 .item-img03 .item-img03--txt {
  width: 67%;
  font-size: 150px;
  font-weight: 700;
  color: #d80d13;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}
.main-area .item-area .item-box02 .bg-item01 img {
  width: 1920px;
  padding-top: 95px;
  margin-left: 50%;
  transform: translateX(-50%);
  vertical-align: top;
}
.main-area .item-area .item-box02 .model-04 {
  margin-top: 8%;
  text-align: center;
}
.main-area .item-area .item-box02 .model-04 a:nth-child(1) {
  margin-right: 23px;
}
.main-area .item-area .item-box02 .model-04 a img {
  overflow: hidden;
  vertical-align: top;
}
.main-area .item-area .item-box04 {
  padding-bottom: 92px;
}
.main-area .item-area .item-box04 .item-img03 .item-img03--txt {
  width: 35%;
  color: #b8815a;
}
.main-area .item-area .item-box05 {
  display: flex;
  justify-content: center;
}
.main-area .item-area .item-box05 > div {
  display: flex;
}
.main-area .item-area .item-box05 a:nth-child(2) {
  margin-top: 12%;
}
.main-area .item-area .btn-box {
  font-size: 22px;
  color: #d2b194;
  display: flex;
  justify-content: right;
  padding-bottom: 162px;
}
.main-area .item-area .btn-box a {
  margin-right: 50px;
}
.main-area .item-area .btn-box a span {
  position: relative;
}
.main-area .item-area .btn-box a span::before {
  content: "";
  display: block;
  width: 18px;
  height: 15px;
  background-image: url(/images/item/arr-rlgth.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: -30%;
  transform: translateY(-50%);
}
.main-area .live-area {
  width: 100%;
  height: 467px;
  padding: 72px 130px;
  margin: 0 auto;
}
.main-area .live-area #live-swiper .swiper-wrapper {
  transform: translateX(20%);
}
.main-area .live-area #live-swiper .swiper-wrapper .swiper-slide {
  position: relative;
}
.main-area .live-area #live-swiper .swiper-wrapper .swiper-slide a img {
  width: 830px;
}
.main-area .live-area #live-swiper .swiper-wrapper .swiper-slide .live-txt {
  position: absolute;
  top: 0;
  left: -28%;
}